<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671461672736-7u3jof3na5fv9jptnlne8d356tejdh5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671461672736-7u3jof3na5fv9jptnlne8d356tejdh5v</string>
	<key>API_KEY</key>
	<string>AIzaSyB1BweBEqnT7pnCXgOiiSyPxnmgoyvZV08</string>
	<key>GCM_SENDER_ID</key>
	<string>671461672736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akoshe.HighWaters</string>
	<key>PROJECT_ID</key>
	<string>highwaters-e379d</string>
	<key>STORAGE_BUCKET</key>
	<string>highwaters-e379d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671461672736:ios:c729b0af38fd6aa71df945</string>
</dict>
</plist>